.wrapper {
    white-space: nowrap;
}

.icon {
    display: inline-block;
}

.size--xs .icon {
    width: 0.8em;
    height: 0.8em;
}

.size--sm .icon {
    width: 1em;
    height: 1em;
}

.size--md .icon {
    width: 1.3em;
    height: 1.3em;
}

.size--lg .icon {
    width: 1.5em;
    height: 1.5em;
}

.size--xl .icon {
    width: 2em;
    height: 2em;
}

.icon svg {
    width: 100%;
    height: 100%;
}
